useDynLib(clusterGGM, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")

S3method(get_Theta, CGGM)
S3method(get_Theta, CGGM_refit)
S3method(get_Theta, CGGM_CV)
S3method(get_clusters, CGGM)
S3method(get_clusters, CGGM_refit)
S3method(get_clusters, CGGM_CV)
